<html>
<head>
    <title>Jobs I have Held</title>
</head>
<body>
    <h1>You Added a Job</h1>
    <p>{{ newJob.getJobName }}
    <p><a href='/'>View a list of jobs You have Held.</a></p>
</body>
</html>
